<!doctype html>
<html>

<head>
    <% include header %>
</head>

<body>
    <% include navbar %>

    <div class='container'>
        <div class='jumbotron text-center'>
            <h1><span class='fa fa-gamepad'></span> CAB432-Mashup</h1>
        </div>

        <div class='col-sm-4 col-sm-offset-4 text-center'>
            <div class='well'>
                <h3>Connor Gillespie <small>09467211</small></h3>

                <br>

                <h4>Credits</h4><hr>
                <a href='http://www.giantbomb.com/api'>GiantBomb API</a>
                <br><a href='http://www.igdb.com/api'>IGDB API</a>
                <br><a href='https://steamcommunity.com/dev'>Steam Web API</a>
                <br>
                <br><a href='http://getbootstrap.com/'>Bootstrap</a>
                <br><a href='http://fontawesome.io/'>Font Awesome</a>
            </div>
        </div>
    </div>
</body>
</html>