<!doctype html>
<html>

<head>
    <% include header %>
</head>

<body>
    <% include navbar %>

    <div class='container'>
        <div class='jumbotron text-center'>
            <h1><span class='fa fa-gamepad'></span> CAB432-Mashup</h1>
        </div>

        <div class='col-sm-10 col-sm-offset-1' style='border-radius: 100px;'>
            <div class='well'>
                <% include searchbar %>
                
            </div>
            <% if (typeof games != 'undefined') { %>
                <% for (var i = 0; i < games.length; i++) { %>
                    <% include game_template %>
                <% } %>
            <% } %>
        </div>
    </div>
</body>
</html>