<!doctype html>
<html>

<head>
    <% include header %>
    <script src='/assets/js/increment_offset.js' type='text/javascript'></script>
</head>

<body>
    <% include navbar %>

    <div class='container'>
        <div class='jumbotron text-center'>
            <h1><span class='fa fa-gamepad'></span> CAB432-Mashup</h1>
        </div>

        <div class='col-sm-10 col-sm-offset-1' style='border-radius: 100px;'>
            <% if (typeof games != 'undefined') { %>
                <% for (var i = 0; i < games.length; i++) { %>
                    <% include game_template %>
                <% } %>
            <% } %>

            <div class='text-center'>
                <button onclick='increment_offset()' class='btn btn-lg btn-primary'>Next</button>
            </div>
        </div>
    </div>
</body>
</html>