<nav class='navbar navbar-default navbar-fixed-top'>
    <div class='container-fluid'>
        <div class='navbar-header'>
            <a class='navbar-brand' href='/'><span class='fa fa-home fa-lg'></span></a>
        </div>

        <!-- navbar -->
        <div class='collapse navbar-collapse' id='bs-example-navbar-collapse-1'>
            <!-- links -->
            <ul class='nav navbar-nav'>
                <li class='divider-vertical'></li>
                <li><a href='/about'><span class='fa fa-user'></span> About</a></li>
            </ul>
        </div>
    </div>
</nav>