<form class='input-group search-form', action='search'>
    <input type='text' class='form-control' name='search' placeholder='Search for games...'>
    <span class='input-group-btn'>
        <button class='btn btn-default search-btn' type='submit'><span class='fa fa-search'></span></button>
    </span>
</form>